<div id="mainCard" class="card" style="">
    <div class="card-img-top">
        <div class="vid-container">
            <iframe id="youtubeIFrame" style="" 
                [src]="_videoSafeUrl" 
                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
            </iframe>
        </div>
        <!-- References: 
            https://stackoverflow.com/a/36113208
            https://stackoverflow.com/a/36113208
            https://stackoverflow.com/a/39429498/5370202
        -->
    </div>
    <div *ngIf="_errorStr">
        <div class="alert alert-danger">{{ _errorStr }}</div>
    </div>
    <div class="card-body" style="padding-top: 0px;">
        <h4 class="card-title">{{ _data.elemName }}</h4>
        <div id="custom-scrollbar" style="">
            <p class="card-text" style="" [innerHTML]="_data.explanation"></p>
            <!-- Reference: https://stackoverflow.com/a/38279651-->
            <h5>References:</h5>
            <ul>
                <li *ngFor="let ref1 of _data.references">
                    <a [href]="ref1" target="_blank">{{ ref1 }}</a>
                </li>
            </ul>
            <div class="force-overflow"></div>
            <!-- Reference to Custom Toolbar: https://codepen.io/devstreak/pen/dMYgeO -->
        </div>        
    </div>
</div>
<div id="extraImgCard" class="card" style="">
    <div class="card-img-top">
        <img id="extraImg" style="height:200px" [src]="_data.sampleImageUrl"/>
    </div>
</div>