

/* @import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah'); */


#particles-js{
    width: 100vw;
    height: 100vh;
    background-color: #021748;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
}


html, body{
  height: 100%;
  font-weight: 800;
}

body{
  background: #030321;
  font-family: Arial;
}


#custom-scrollbar{
	padding-right: 5px;
	height:270px; 
	overflow-y: scroll;
	font-size: small;
}

.force-overflow
{
	max-height: 250px;
}

#custom-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#custom-scrollbar::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#custom-scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}
.centerMeForm{
    width: 90%;
    max-width:500px;
    display: block;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.21);
    padding: 20px;
}

.youtubeIFrame{
	width:70%;
	margin-left:15%;
	margin-top:10px;
	/* height:180px; */
	height: 90%;
}

.imgFrame{
    width:70%;
    margin: auto;
    display: block;
}

.action-button1{
    cursor: pointer;
    border-radius: 50%;
}

.action-button1:hover{
    color: #000;
    background-color: #fff;
}


.hideBG{
    filter: blur(3px) brightness(0.8) contrast(1.3);
}






#loaderDiv{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 199;
}

#tyreLoaderImg{
    position: fixed;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    z-index: 200;
    max-width: 300px;
    animation: spinningTyre 0.8s linear infinite;
}



@keyframes spinningTyre{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}






@media (min-width: 0px) and (max-width: 575px){
    #tyreLoaderImg{
        left: calc(50% - 25vw);
        top: calc(50% - 25vw);
        width: 50vw;
    }
}

@media (min-width: 576px) and (max-width: 992px){
    #tyreLoaderImg{        
        left: calc(50% - 20vw);
        top: calc(50% - 20vw);
        width: 40vw;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    #tyreLoaderImg{
        left: calc(50% - 15vw);
        top: calc(50% - 15vw);
        width: 30vw;
    }
}



