<router-outlet></router-outlet>


<!-- <div id="mainIntro">
    <div>
        <svg viewBox="0 0 960 300">
            <symbol id="s-text">
                <text text-anchor="middle" x="50%" y="80%">Mera Caaar</text>
            </symbol>
        
            <g class = "g-ants">
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
            </g>
        </svg>        
    </div>
    <div id="introBlock">
        Do you have what it takes to explore your car...
    </div>
    <div id="introBlockBG"></div>
</div> -->