<div id="allContentDiv" [class.hideBG]="_waitState">
    <div id="particles-js"></div>
    <div class="centerMeForm" style="color:white;">
        <a [routerLink]="['../addContent']" class="btn btn-primary">Go to Add Component Page</a>
        <a [routerLink]="['../home']" class="btn btn-primary">Go to Home Page</a>
        <div class="form-group">
            <label for="parentGrpName">Select Component to edit</label>
            <select class="form-control" id="parentGrpName" name="carData[parentGrpName]" [(ngModel)]="carData.elemCode" (change)="fetchData(selectComp.value)" #selectComp >
                <option value="" disabled>Select a component to edit it</option>
                <option *ngFor="let cont of _allCont" [value]="cont.elemCode">{{cont.elemName + " (" + cont.elemCode + ")"}}</option>
            </select>
        </div>
        <div class="alert alert-success" *ngIf="_successMessage">
            <strong>Success!</strong> {{_successMessage}}
        </div>
        <div *ngIf="carData.elemCode">
            <h2>Component Details</h2>
            <form action="#" [attr.disabled]="_sendingData" #mainForm>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control form-control-lg" id="title" name="carData[elemName]" [(ngModel)]="carData.elemName" placeholder="Enter title of component" maxlength="60">        
                </div>
                <div class="form-group">
                    <label for="elemCode">Code Name</label>
                    <input type="text" class="form-control" id="elemCode" name="carData[elemCode]" [(ngModel)]="carData.elemCode" placeholder="Enter code name of component" maxlength="60" disabled style="border-width: 3px">
                    
                </div>
                <div class="form-group">
                    <label for="parentGrpName">Parent Group Name</label>
                    <select class="form-control" id="parentGrpName" name="carData[parentGrpName]" [(ngModel)]="carData.parentGrpName" >
                        <option value="CoolSys">Cooling System</option>
                        <option value="SuspBreakSys">Suspension and Braking System</option>
                        <option value="FWD" selected>Front Wheel Drive</option>
                        <option value="RWD">Rear Wheel Drive</option>
                    </select>
                </div>
        
                <div class="form-group">
                    Display in listing?
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" checked name="carData[anchorDisplay]" id="inlineRadio1" [(ngModel)]="carData.anchorDisplay" value="true">
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="carData[anchorDisplay]" id="inlineRadio2" [(ngModel)]="carData.anchorDisplay" value="false">
                        <label class="form-check-label" for="inlineRadio2">No</label>
                    </div>
                </div>
        
                <div>            
                    <div class="form-group">
                        <label for="youTubeUrl">Youtube URL</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">https://www.youtube.com/embed/</div>
                            </div>
                            <input type="text" class="form-control" id="youTubeUrl" maxlength="20" name="carData[youTubeUrl]" [(ngModel)]="carData.youTubeUrl" placeholder="Youtube URL Code" #loadYoutubeUrl (keyup)="dummyFn()">
                        </div> 
                    </div>
            
                    <div class="vid-container" *ngIf="loadYoutubeUrl.value">
                        <iframe class="youtubeIFrame" style="" 
                            [src]="this._sanitizer.bypassSecurityTrustResourceUrl('https://www.youtube.com/embed/'+loadYoutubeUrl.value)"
                            frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
                        </iframe>
                    </div>
        
                    <img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c548.png" class="youtubeIFrame" *ngIf="!loadYoutubeUrl.value" style="background-color:rgba(255, 255, 255, 0.64)"/>
                </div>
                
                <div>
                    <div class="form-group">
                        <label for="sampleImageUrl">Image URL</label>
                        <input type="url" class="form-control" id="sampleImageUrl" name="carData[sampleImageUrl]" [(ngModel)]="carData.sampleImageUrl" placeholder="Enter URL of image" maxlength="150" #loadImageUrl (keyup)="dummyFn()">
                    </div>
                    <img [src]="loadImageUrl.value" class="imgFrame" *ngIf="loadImageUrl.value"/>
                    <img src="http://static.wpe.au.syrahost.com/var/m_e/ec/ec7/2158671/1889666-placeholder.png" class="imgFrame" *ngIf="!loadImageUrl.value" />
                    
                </div>
                
                <div class="form-group">
                    <label for="explanation">Explanation</label>
                    <textarea class="form-control" id="explanation" name="carData[explanation]" [(ngModel)]="carData.explanation" rows="10" maxlength="5000" placeholder="Enter explanation of code in HTML"></textarea>
                    <h3>Preview:</h3>
                    <div id="custom-scrollbar" class="col-centered" style="height:220px;margin:auto;width:100%;overflow-y:scroll;"  [innerHTML]="carData.explanation">
                        <div class="force-overflow" style="max-height:220px!important;"></div>
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="arrow_tail_path_d">arrow_tail_path_d</label>
                    <select class="form-control" id="arrow_tail_path_d" name="carData[arrow_tail_path_d]" [(ngModel)]="carData.arrow_tail_path_d">
                        <option value="" selected disabled>None</option>
                        <option value="M244,339 C163,473 351,475 582,487">FWD/RWD Engine Pointer</option>
                        <option value="M244,339 C163,473 351,475 562,487">FWD Gear Pointer</option>
                        <option value="M324,299 C263,513 351,475 482,497">FWD/RWD Front Suspension Pointer</option>
                        <option value="M504,229 C490,343 651,265 582,397">RWD Differential Pointer</option>
                    </select>
                    <input type="text" class="form-control" maxlength="60" name="carData[arrow_tail_path_d]" [(ngModel)]="carData.arrow_tail_path_d" placeholder="arrow_tail_path_d" style="margin:10px 0px;">
                </div>
                <div class="form-group">
                    <label for="arrow_head_path_d">arrow_head_path_d</label>
                    <select class="form-control" id="arrow_head_path_d" name="carData[arrow_head_path_d]" [(ngModel)]="carData.arrow_head_path_d">
                        <option value="" selected disabled>None</option>
                        <option value="M551,511 C636,481 588,522 576,460">FWD/RWD Engine Pointer</option>
                        <option value="M531,511 C616,481 568,522 556,460">FWD Gear Pointer</option>
                        <option value="M441,511 C526,481 478,522 466,460">FWD/RWD Front Suspension Pointer</option>
                        <option value="M555,357 C593,420 532,415 608,380">RWD Differential Pointer</option>
                    </select>
                    <input type="text" class="form-control" maxlength="60" name="carData[arrow_head_path_d]" [(ngModel)]="carData.arrow_head_path_d" placeholder="arrow_head_path_d" style="margin:10px 0px;">
                </div>
        
                <div class="form-group">
                    <label for="soundUrl">Sound Name</label>
                    <input type="text" class="form-control" id="soundUrl" name="carData[soundUrl]" [(ngModel)]="carData.soundUrl" placeholder="Enter name of sound file of component (then add it to server)" maxlength="60">        
                </div>
        
                <div>
                    <label>References</label>
                    <i class="material-icons action-button1" (click)="addReference()" style="user-select:none;">add_circle</i>
                    <i class="material-icons action-button1" (click)="removeReference()" style="user-select:none;">remove_circle_outline</i>
                    <div #ReferencesSection>
                            <input *ngFor="let ref of carData.references;let i = index; trackBy:trackByIndex"
                                class="form-control" placeholder="Enter reference URL" type="url" [(ngModel)]="carData.references[i]" required style="margin:10px 0px;" maxlength="150" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                    
        
                <div class="form-group">
                    <label for="modificationKey">Modification Key</label>
                    <input type="password" class="form-control" id="modificationKey" name="modificationKey" [(ngModel)]="modificationKey" placeholder="Enter Modification Key" required>
                </div>
        
                <button class="btn btn-primary" style="margin:auto;display:block;" (click)="sendData()">Submit</button>
                <button class="btn btn-danger" style="margin:auto;display:block;" (click)="deleteComp()">Delete</button>
            </form>
        </div>
        
    </div>
</div>

<div id="loaderDiv" [style.display]="_waitState?'block':'none'">
    <img src="assets/images/tyre.png" id="tyreLoaderImg"/>
</div>