

#mainSVG-BG{
    width:60%;
    height:600px;
    z-index:10!important;
    /* background-color: rgba(255, 255, 255, 0.27); */
}

/* @media (min-width: 992px ){
    #mainSVG-BG{
        zoom: 70%;
    }

    .sys{
        zoom: 70%;
    }
}

@media (min-width: 1200px ){
    #mainSVG-BG{
        zoom: 100%;
    }
} */

#Display-buttons-group{
    /* position:absolute; */
    left:40px;
    top:80px;
    z-index:20;
}

.a-pages-btn{
    position: relative;
    top: 100px;
    left: 40px;
    z-index: 20;
    font-size: smaller;
    display: block;
    width: 180px;    
}



.beingDisplayed{
    /* display:block; */
    opacity: 1.0;
    transition: opacity 0.5s;
}

.notbeingDisplayed{
    opacity: 0.0;
    /* display: none; */
    transition: opacity 0.5s;
}

path.flowing {
    stroke-width: 8;
    stroke: #0aa4ea;
    stroke-linecap: round;
    fill: none;
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: dash 1.5s cubic-bezier(0.69, 0.09, 0.07, 0.96) forwards;
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

#searchDiv{
    height: 270px;
    width: 200px;
    top: 340px;
    left: 55px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
}







@media (min-width: 0px) and (max-width: 575px){
    #Display-buttons-group{
        width: 95%;
        margin: auto;
        display: block;
        top:0px;
        left: 0px;
        margin-top: 20px!important;
    }

    #searchDiv{
        position: relative;
        width: 95%;
        margin: auto;
        height: 170px;
        top:0px;
        left: 0px;
        margin-top: 20px;
    }

    #custom-scrollbar{
        height: 120px!important;
    }

    #mainSVG-BG{
        zoom: 50%;
        margin: auto!important;
    }

    .a-pages-btn{
        top: 8px;
        left: 2.5%;
        width: 95%; 
    }
}

@media (min-width: 576px) and (max-width: 992px){
    #Display-buttons-group{
        width: 90%;
        margin: auto;
        display: block;
        top:0px;
        left: 0px;
        margin-top: 20px!important;
    }

    #searchDiv{
        position: relative;
        width: 90%;
        margin: auto;
        height: 170px;
        top:0px;
        left: 0px;
        margin-top: 20px;
    }
    
    #custom-scrollbar{
        height: 120px;
        height: 120px!important;
    }

    #mainSVG-BG{
        zoom: 70%;
        margin: auto!important;
    }

    .a-pages-btn{
        top: 8px;
        left: 5%;
        width: 90%; 
    }
}

@media (min-width: 992px) and (max-width: 1200px){    
    #mainSVG-BG{
        zoom: 80%;
    }
}

